<div id="main-container" class="container">
<h2><%= @project.name %></h1>
<a href="<%= @project.link %>" target="_blank" title="<%= @project.name %>"><img src="<%= @project.img %>" width="460" height="345" class="carry" alt="Picture of: <%= @project.name %>"></a>
<h3><%= @project.tech %></h3>
<p><%= @project.description %></p>
<a href="<%= @project.link %>" target="_blank" title="<%= @project.name %>">Link to live version: <%= @project.name %> </a>
</div>